<style>
  .boton{
    height:30px;
    width:40px;
    background-color: #7ebfff;
    font-size: 25px;
    border-radius: 5px;
    border: 0px;
    color: white;

  }
  .boton2{
    height:30px;
    width:40px;
    background-color: #bcff7e;
    font-size: 25px;
    border-radius: 5px;
    border: 0px;
    color: white;
  }
</style>
<h1>Contador</h1>
<tr>
    <td><button class="boton" (click)="c1()"> + </button><button class="boton2" (click)="c2()"> - </button></td>
    <td><p>Cuenta: <b>{{Cuenta}}</b></p></td>
</tr>

